
.blog-entry__panel[data-v-ae25ee]{background-color:#2b1e16;border-radius:.5rem;padding:1rem
}
.blog-entry__title[data-v-ae25ee]{font-family:Playfair Display,serif;font-size:1.5rem
}
.blog-entry__bottom-row[data-v-ae25ee]{display:flex;margin-top:.5rem;margin-bottom:.5rem;justify-content:space-between
}
.blog-entry__tags[data-v-ae25ee]{display:flex
}
.blog-entry__tag[data-v-ae25ee]{background-color:#e2d0c3;color:#1a120d;border-radius:.25rem;padding:.25rem;margin-right:.25rem;font-size:.75rem
}
.blog-entry__content a[data-v-ae25ee]{color:#e2d0c3
}
.blog-entry__content p[data-v-ae25ee]{font-size:.9rem;line-height:1.5;text-align:justify;text-indent:1.5rem
}
@media (max-width:568px){
.blog-entry__bottom-row[data-v-ae25ee]{flex-direction:column
}
.blog-entry__tags[data-v-ae25ee]{margin-top:.5rem;margin-bottom:.5rem
}
}
.blog-entry__clock[data-v-ae25ee]{margin-right:.25rem
}
.blog-entry__divider[data-v-ae25ee]{margin:.5rem;height:1px;background-color:#e2d0c3
}